/*Main Page*/
.body { 
    font-family:Raleway, Roboto,sans-serif;
    background-color: #FFFFFF; ;
}  
.main-page {
    color: blue;
}
.logo {
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #4D5AE5;
}
.web {
      color: #4D5AE5;
}
.studio {
    color:#2E2F42;
}
.nav-list {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    list-style-type: none;  
}
.nav-list .link:focus,
.nav-list .link:hover {
    background-color:#2E2F42;
}
.nav-list .buton-contacts:hover {
    background-color:#2E2F42;
}
.contacts-section {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 200px;
}
.contacts-section:hover,
.contacts-section:focus
{
    background:#434455;
}

.efective-solution {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: black;
    color:#FFFFFF;
        }
.buton-order-service {
     background:#4D5AE5;
}
.one-section-list {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        list-style-type: none;
}
.two-section {
    width: 1128px; 
    height: 412px; 
    top: 1016px;
    left: 156px;
}
.two-section-top {     
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
}
.two-section-list {
    list-style-type: none;
}
.our-team-section
{
    width: 1440px;
    height: 732px; 
    top: 1548px;
    background-color:#F4F4FD; ;
}
.our-team {
    
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
}
.our-team-list {
    list-style-type: none;
}
.our-team-content-card-list {
    list-style-type: none;
}
.content-footer {
   width: 1440px;
   height: 312px;
   top: 2280px;
}
.content-footer {
    background-color: black;
    height: 150px;
}
.text-footer {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color:#F4F4FD;

}
.text-footer:hover {
    color: #404BBF;
}
/*portofoliu*/
.active-buton
{
background: #404BBF;
}
.active-buton:active {
    background: #FFFFFF;
}
.project-row-one {
    width: 1128px;
    height: 420px;
     top: 288px;
     left: 156px;
     border: 1px;
}
.projects-row-one-list {
    width: 360px;
    height: 300px;
    list-style-type: none;
}
.content-projects-row-one-list {
    width: Fixed (360px);
    height: Hug (56px);
    top: 332px;
    padding: 0px, 16px, 0px, 16px
    gap: 8px;
    list-style-type:none;
}
.project-row-two {
    width: 1128px;
    height: 420px;
    top: 1224px;
    left: 156px;
    border: 1px;
    list-style-type: none
}
.content-projects-row-two-list {
    width: Fixed (360px);
    height: Hug (56px);
    top: 332px;
    padding: 0px, 16px, 0px, 16px;
    gap: 8px;
    list-style-type: none;
}
.projects-row-two-list {
    width: 360px;
    height: 300px;
    list-style-type: none;
}
.project-row-three {
    width: 1128px;
    height: 420px;
    top: 1224px;
    left: 156px;
    border: 1px;
}
.projects-row-three-list {
    width: 360px;
    height: 300px;
    list-style-type: none;
}
.content-projects-row-three-list {
    width: Fixed (360px) ;
    height: Hug (56px);
    top: 332px;
    padding: 0px, 16px, 0px, 16px ;
    gap: 8px;
    list-style-type: none;
}

